@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


html {

    box-sizing : border-box;
}

body {
    margin : 0;
    min-height : 100vh ;
    font-family: 'Kalam', sans-serif;
   
    background: rgba(226, 224, 241, 0.8);
    

}

h1{

    text-align:center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 40px;
    color: rgb(1, 1, 75);
}

.loader{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0; 
    background: rgba(255,255,255,0.8);
    
   

}

.loader img{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   
} 

.image-container{
    margin: 10px 18%;
}

.image-container img{
    width:100%;
    margin:10px;
    /* border: 1px solid; */
    /* padding: 10px; */
    box-shadow: 10px 10px 18px #888888;
}

@media screen and (max-width:600px){
    h1 {
        font-size:20px;
    }
}